@import "./components/abby/abby.scss";
@import "./components/Search/Search.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	height:100%;
	font-family: 'Roboto', sans-serif;

}

.center_div {
    height: 100vh;
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;

	
 }
 .button_add{
	 color:lime
 }
 .button_back{
	 color:#3893B1;
	 padding:20px
 }

 .capital{
	 color: #93B7CC;
	 font-weight: bold;
	 font-family: 'Roboto', sans-serif;
 }
.selectedText{
	color: #93B7CC;
	background:transparent
}
 .capitalItem{
	color: #267DBD;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

 .searchTextBox{
	 background-color:transparent;
	 border:transparent;
	 color:#93B7CC;
}
 .searchBox{
	 display:flex;
	 border:transparent;
	 border-bottom: solid 2px #93B7CC	 
 }
 .button_search{
	color:#93B7CC;
}
.theme_button{
	background-color:transparent;
	margin-top: 20px;
	color:#3893B1;
	border-width: 0px;
	font-weight: bold
}
*:focus {
    outline: none;
}

.WeatherIcon{
	color:#3893B1;
	font-size:60px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}


.WeatherDiv{
	height: 100vh;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.marginTop{
	margin-top:5px;
	font-size:12px;
}

.WeatherTime{
	color:#267DBD;
	font-size:40px;
	display:flex;
	flex-direction: column;
	align-items: center
}
.TimeSpan{
	margin-top:-25px;
}
.TimeCity{
	font-weight: bold;
	margin-top:-15px;
	font-size:25px;
	color:#93B7CC
}
.WeatherIconMargin{
	margin-top:25px;
}

.TempDiv{
	margin-top: 15px;
	font-size:15px;
	display: flex;
	flex-direction: row;
}
.TimeSpanMarginLeft{
	margin-left: 10px;
}
.TimeIconMargin{
	margin-top:4px;
}